// $main-color: #2C3E50;
// $secondary-color: rgb(248, 231, 217);
// $accent-color: #27AE60;
// $side-color: #BDC3C7;
// $support-color: #6C5E58;
// $white-color: #fff;
// $white2-color: #fff;
$main-color: #2C3E50;
$secondary-color: #f6f6f6;;
$accent-color: #27AE60;
$side-color: #BDC3C7;
$support-color: #6C5E58;
$white-color: #fff;
$white2-color: #000;
