@import 'colors';
@import 'mixins';

.burger-btn {
    position: relative;
    display: none;
    position: fixed;
    top: 0px;right: 0px;
    padding: 1em;
    background: none;
    border: 1px solid transparent;
    
    cursor: pointer;
    z-index: 1000;

    &:focus {
        outline: none;
        border: 1px solid rgba(255,255,255,0.5);
        border-radius: 8px;
    }
    &:hover {
        .burger-btn__bars::after, .burger-btn__bars::before{
            width: 100%;
        }
    }
    &__box {
        position: relative;
        width: 40px;
        height: 30px;
    }

    &__bars, &__bars::after, &__bars::before {
        @include burgerBtn;
        
    }

    &__bars {
       
        width: 100%;
        &::after {
            top: 13px;
            width: 60%;
            

        }

        &::before {
            top: 27px;
            width: 30%;
            transition-delay: .1s;
        }
    }
}

.background-nav{
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: $main-color;
}
.nav {
    display: flex;
    
    // justify-content: space-between;
    padding:0em 2em;
    
    min-height: 60px;
    &__items,&__logo {
        display: flex;
        justify-content: center;
    }
    &__logo{
        height: 60px;
        width: 60px;
    }
    &__title{
            color: $white-color;
            display: flex;
            align-items: center; /* Wyśrodkowanie w pionie */
            text-decoration: none;
            
            text-wrap: nowrap;
            margin: .2em .8em .2em 0em;
            padding: 0em 0.4em;
            font-size: 2.5rem;
            font-weight: bold;
            transition:color .3s;
            &:hover{
               
                    color: $accent-color;
                
            }
            
    }
    &__item{
 
           


            color: $white-color;
            display: flex;
            align-items: center; /* Wyśrodkowanie w pionie */
            text-decoration: none;
            
            text-wrap: nowrap;
            // margin: .3em 0em;
            padding: .4em 0.4em;
            // font-size: 2.5rem;
            font-weight: bold;
            transition:.3s;
            &:hover{
                color: $accent-color;
            }
            i{
                padding-right: 0.5em;
            }
           
         
            
    }
    
    .nav__items {
        display: flex;
        justify-content: space-between;
        align-items: center; /* Wyrównanie elementów w pionie */
        width: 100%; /* Pełna szerokość kontenera */
    }
    
    .nav__item:last-child {
        color: $accent-color;
        font-size: 2.5rem;
        margin-left: auto;
    }
}


// Style dla bocznego menu
.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999; // wysoki, żeby na pewno był na wierzchu
    top: 0;
    right: 0;
    background-color: $main-color;
    overflow-x: hidden;
    transition: width 0.5s ease;
    padding-top: 60px;
    width: 0;
    display: flex;
    flex-direction: column;
    align-items: center; // Wyśrodkowanie elementów w pionie
    justify-content: center; // Wyśrodkowanie elementów w poziomie
  
    a {
      padding: 15px 25px;
      text-decoration: none;
      font-size: 2.5rem;
      color: $white-color;
      transition: color 0.3s ease;
  
      &:hover {
        color: $secondary-color;
      }
    }
  }

  .overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 9998; // Niższy niż menu, ale wyższy niż reszta strony
  }

  .back-to-top-btn {
    position: fixed; /* Pozycjonowanie absolutne względem okna przeglądarki */
    right: 20px; /* Odległość od lewej krawędzi */
    bottom: 20px; /* Odległość od dolnej krawędzi */
    background-color: green; /* Zielone tło */
    color: black; /* Czarny tekst */
    padding: 1.4em; /* Wewnętrzne wypełnienie */
    text-decoration: none; /* Usunięcie podkreślenia tekstu */
    border: none; /* Brak obramowania */
    cursor: pointer; /* Kursor wskazujący */
    border-radius: 50%; /* Lekko zaokrąglone rogi */
    z-index: 1000; /* Zapewnia, że przycisk będzie na wierzchu innych elementów */
}
.hidden {
    display: none;
}

  @media(max-width:912px){
  
    .nav__item{
        display: none;
       
    }
    .nav, .nav__items{
        font-size: 0rem;
     justify-content: start !important;
    }

    
    .burger-btn{
       
        display: block;
    }

}
@media(max-width:370px){

    .nav__logo a:last-child{
        display: none;
       
    }
    .nav__title {
        display: none;
    }

}



